@inherits LayoutComponentBase

<PageTitle>yaml-moq</PageTitle>
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">
    <main class="vscode">
        @Body
    </main>
</div>
